body {
  background: radial-gradient(circle at center, black 0, rgb(160, 80, 160) 200%);
  height: 100vh;
  background-image:
  radial-gradient(
    4px 4px at 30px 5px,
    rgb(169, 169, 238),
    rgba(255, 255, 255, 0),
    overflow: hidden;
  ),
  
}
.space {
  background: rgba(128, 0, 128, 0.1) center / 200px 200px round;
  border: 1px dashed blue;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.stars1 {
  animation: space 180s ease-in-out infinite;
  background-image:
    radial-gradient(
      3px 2.5px at 30px 5px,
      rgb(169, 169, 238),
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 25px 5px, 
      rgba(155, 211, 148, 0.575), 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 50px 25px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 125px 20px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 50px 75px, 
      green, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2px 2px at 15px 125px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 110px 80px, 
      white, 
      rgba(255, 255, 255, 0)
    );
}

@keyframes space{
  from{
    transform: scale(1);
  }
  to {
    transform: scale(2);
    box-shadow: 0 0 10px 7px rgba(242, 238, 600, 0.836);
  }
}